.landing_page{
    height:100vh;
    width:100%;
}
.navbar {
    margin-bottom:0;
}
.star {
    border: none;
    background: transparent;
    color: #ffc000;
}
.caret
{
    /* DROPDOWN MENU HEEFT DUBBELE CARET DOOR FA ICONS CLASSNAME EN MATERIALZECSS CLASS NAME */
position: absolute;
right: 0;
bottom: 10px;
}
.paralax-normalize{
    display: block !important;
    position: relative !important;
    min-width: 0% !important;
    min-height: 0% !important;
    -webkit-transform: translate3d(0, 0, 0) !important; 
    transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
}
.nav_landing {
    position:absolute; 
    top: 0; 
    background-color:transparent; 
    box-shadow: none; 

}
.nav_landing a:hover {
   text-decoration: none;
}